html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

.Table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  text-align: center;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}



/* EXERCISE TEMPLATE TABLE, MOVE TO ITS OWN FILE ONCE DONE WITH FUNCTIONALITY */
.ExerciseTemplateContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.ExerciseTemplate {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  flex: 1 1 300px; 
}

/* FOR NEW TEMPLATE REMOVE LATER */
.template-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.template-input {
  width: 200px;
  margin-right: 10px;
}


/* dsdsdsd */
.newtemplate {
  margin-bottom: 2rem;
}

.template-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 15rem;
  background-color: #f5f5f5;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
}

.template-input {
  margin: 1rem 0;
  padding: 0.5rem;
  width: 20rem;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
}

.template-card-front,
.template-card-back {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.5s ease;
}

.template-card-front {
  z-index: 2;
}

.template-card-back {
  transform: rotateY(180deg);
}

.template-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.template-name {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.exercise-count {
  margin-bottom: 1rem;
}

.edit-template-button,
.view-template-button {
  margin-right: 1rem;
}

.exercises-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.exercises-list {
  margin-bottom: 1rem;
}

.template-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
